<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>学籍管理系统——基本信息</title>
    <!-- 引入Bootstrap的CSS文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='function.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // 从后端获取的学院专业列表，初始化下拉框
        // 格式：[{'id': 50001, 'name': '计算机学院', 'major': [{'id': 40001, 'name': '计算机科学与技术'}, {'id': 40002, 'name': '软件工程'}, {'id': 40003, 'name': '网络工程'}, {'id': 40004, 'name': '信息安全'}]}, {'id': 50002, 'name': '化学学院', 'major': [{'id': 40005, 'name': '化学'}]}, {'id': 50003, 'name': '物理学院', 'major': [{'id': 40006, 'name': '物理学'}]}, {'id': 50004, 'name': '数学学院', 'major': [{'id': 40007, 'name': '数学'}]}, {'id': 50005, 'name': '生物学院', 'major': [{'id': 40008, 'name': '生物学'}]}]

    $(document).ready(function(){
        var json_string = {{ full_college_major_info_list|tojson }};
        var full_college_major_list = JSON.parse(json_string);
        var collegeSelect = document.getElementById('collegeSelect');
        var majorSelect = document.getElementById('majorSelect');

        // 初始化学院下拉框
        for (var i = 0; i < full_college_major_list.length; i++) {
            var collegeOption = document.createElement('option');
            collegeOption.value = full_college_major_list[i].id;
            collegeOption.text = full_college_major_list[i].name;
            collegeSelect.appendChild(collegeOption);
        }

        // 学院下拉框改变时，初始化专业下拉框
        collegeSelect.addEventListener('change', function() {
            majorSelect.innerHTML = '';
            var college_id = collegeSelect.value;
            if (college_id == 0) {
                majorSelect.disabled = true;
                return;
            }
            majorSelect.disabled = false;
            var major_list = full_college_major_list.find(function (item) {
                return item.id == college_id;
            }).major;
            for (var i = 0; i < major_list.length; i++) {
                var majorOption = document.createElement('option');
                majorOption.value = major_list[i].id;
                majorOption.text = major_list[i].name;
                majorSelect.appendChild(majorOption);
            }
        });
    });

    function generate_href_and_submit(){
        var form = document.getElementsByTagName('form')[0];
        form.action = generate_href('change_major', {{ student_info_list[0].id }});
        form.submit();
    }
    </script>
</head>
<body>
<h1>修改个人基本信息</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>属性</th>
        {% for student_info_dict in student_info_list %}
        <th>值</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>学号</td>
        {% for student_info_dict in student_info_list %}
        <td>{{ student_info_dict.id }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>姓名</td>
        {% for student_info_dict in student_info_list %}
        <td>{{ student_info_dict.name }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>所在学院</td>
        {% for student_info_dict in student_info_list %}
        <td>{{ student_info_dict.college }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>所在专业</td>
        {% for student_info_dict in student_info_list %}
        <td>{{ student_info_dict.major }}</td>
        {% endfor %}
    </tr>
    </tbody>
</table>

<form action="/change_major" method="post">
    <label for="collegeSelect">选择学校学院</label>
    <select class="form-select" id="collegeSelect" name="college">
        <option value="0">请选择学院</option>
    </select>
    <br><br>
    <label for="majorSelect">选择专业</label>
    <select class="form-select" id="majorSelect" name="major" disabled="disabled">
        <option value="0">请选择专业</option>
    </select>
    <br><br>
    <button type="button" onclick="generate_href_and_submit()" class="btn btn-primary">提交</button>
</form>
</body>
</html>