<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>学籍管理系统——主页</title>
    <!-- 引入Bootstrap的CSS文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='function.js') }}"></script>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">学籍管理系统</h1>
    <!--管理员-->
    {% if operator_id == 0 %}
    <h2 class="text-center">你好，管理员</h2>
    <div class="d-flex justify-content-center mb-3">
        <button onclick="window.location.href=generate_href_with_operator_id('student_info', 0, 0)" class="btn btn-primary mr-2">全部学生信息
        </button>
        <button onclick="window.location.href=generate_href_with_operator_id('course_info', 0, 0)" class="btn btn-primary mr-2">全部课程信息
        </button>
        <button onclick="window.location.href=generate_href_with_operator_id('course_grade_info', 0, 0)" class="btn btn-primary mr-2">
            全部课程与成绩信息
        </button>
        <button onclick="window.location.href=generate_href_with_operator_id('reward_punishment', 0, 0)" class="btn btn-primary mr-2">全部奖惩信息
        </button>
    </div>
    {% else %}
    <h2 class="text-center">你好，{{ student_info_list[0].name }}</h2>
    <h2 class="text-center">你的学号为：{{ student_info_list[0].id }}</h2>
    <div class="d-flex justify-content-center mb-3">
        <button onclick="window.location.href=generate_href_with_operator_id('basic_info', '{{ student_info_list[0].id }}','{{ student_info_list[0].id }}')"
                class="btn btn-primary mr-2">你的基本信息
        </button>
        <button onclick="window.location.href=generate_href_with_operator_id('course_info', '{{ student_info_list[0].id }}','{{ student_info_list[0].id }}')"
                class="btn btn-primary mr-2">学生课程信息
        </button>
        <button onclick="window.location.href=generate_href_with_operator_id('my_course_info', '{{ student_info_list[0].id }}','{{ student_info_list[0].id }}')"
                class="btn btn-primary mr-2">我的课程信息
        </button>
        <button onclick="window.location.href=generate_href_with_operator_id('reward_punishment', '{{ student_info_list[0].id }}','{{ student_info_list[0].id }}')"
                class="btn btn-primary mr-2">我的奖惩信息
        </button>
        <button onclick="window.location.href=generate_href_with_operator_id('change_major', '{{ student_info_list[0].id }}','{{ student_info_list[0].id }}')"
                class="btn btn-primary">修改专业
        </button>
    </div>
    {% endif %}
</div>
</body>
</html>